{% extends 'base.html' %}
{% load static %}
{% block content%}

<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>zcart</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="{% static 'hm/css/bootstrap.min.css'%}">
      <!-- style css -->
      <link rel="stylesheet" href="{% static 'hm/css/style.css'%}">
      <!-- Responsive-->
      <link rel="stylesheet" href="{% static 'hm/css/responsive.css'%}">
      <!-- fevicon -->
      <link rel="icon" href="{% static 'hm/img/fevicon.png'%}" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="{% static 'hm/css/jquery.mCustomScrollbar.min.css'%}">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="{% static 'hm/https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css'%}">
      <link rel="stylesheet" href="{% static 'hm/https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css'%}" media="screen">
      <!--[if lt IE 9]>
      <script src="{% static 'hm/https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js'%}"></script>
      <script src="{% static 'hm/https://oss.maxcdn.com/respond/1.4.2/respond.min.js'%}"></script><![endif]-->
   </head>
   
   <!-- body -->
   <body class="main-layout">
    
      
      <!-- banner -->
      <section class="banner_main">
         <div class="container">
            <div class="row">
               <div class="col-md-8">
                  <div class="text-bg">
                     <h1> <span class="blodark"> zcart </span> <br>Trands 2022</h1>
                     <p>A huge fashion collection for ever </p>

                  </div>
               </div>
               <div class="col-md-4">
                  <div class="ban_img">
                     <figure><img src="{% static 'hm/img/ban_img.png'%}" alt="#"/></figure>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- end banner -->

      <!-- project section -->
      <div id="project" class="project">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage">
                     <h2>Featured Products</h2>
                  </div>
               </div>
            </div>
            <div class="row">
            <div class="product_main">
               {% for i in pg.object_list %}
                  <div class="project_box ">
                     
                     <div><figure><a class="imgover" href="{{i.get_url}}"><img src="{{i.img.url}}" alt="" ></a></div>
                     <figcaption>
                     <h6 class="heading"><b>{{i.name}}</b></h6>
                     <p>{{i.desc|truncatewords:12}}</p>
                     <br>
                     <figcaption>
                  </figure>
                  </div>
                  {% endfor %}
                </div>
            </div>
         </div>
      </div>

      <!-- end project section -->
      <center>
         {% for p in pg.paginator.page_range %}
       
         <a href="?page={{p}}" class="btn btn-light btn-sm {% if pg.number == p %} active {% endif %}">{{p}}</a>
       
         {% endfor %}
       
           </center>
      <!-- Javascript files-->
      <script src="{% static 'hm/js/jquery.min.js'%}"></script>
      <script src="{% static 'hm/js/popper.min.js'%}"></script>
      <script src="{% static 'hm/js/bootstrap.bundle.min.js'%}"></script>
      <script src="{% static 'hm/js/jquery-3.0.0.min.js'%}"></script>
      <!-- sidebar -->
      <script src="{% static 'hm/js/jquery.mCustomScrollbar.concat.min.js'%}"></script>
      <script src="{% static 'hm/js/custom.js'%}"></script>
   </body>
</html>
{% endblock %}
